<%= simple_form_for(@vaga) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :vaga %>
	<p>
		 <%= f.label :como_se_candidatar %>
		 <%= f.select :como_se_candidatar, ['Enviar CV para:', 'Ligar para:'], 
		 :select_html => { :class => 'como_candidatar' } %>

		 <%= f.text_field :contato %>
	</p>
	<p>
		 <%= f.label 'Faixa Salarial' %>
		 <%= f.text_field :salario_min, :class=>'salario' %> - <%= f.text_field :salario_max, :class=>'salario' %>
	</p>
	
	<% if current_user && current_user.nome_empresa %>
		<%= hidden_field_tag :empresa, current_user.nome_empresa %>
	<% else %>
	<p>
		 <%= label_tag 'Empresa' %>
		 <%= text_field_tag :empresa %>
	</p>
	<% end %>

    <%= f.input :cidade %>
	<p>
		 <%= f.label :perfil %>
		 <%= f.select :perfil_id, options_from_collection_for_select(Perfil.all, "id", "nome")%>
	</p>
    <%= f.input :pre_requisitos %>
    <%= f.input :tags %>
	<p>
		 <%= f.label :descricao %>
		 <%= f.text_area :descricao, :rows=>10, :cols=>70 %>
	</p>
  </div>

  <div class="actions">
	<% if current_user %>
    <%= f.button :submit, 'Anunciar',:class=>"botao" %>
	<% end %>
  </div>
<% end %>
