<% if current_user %>
	<% if notice %>
		<p class="anunciar"><span class="error"><%= notice %></span> | Preencha os dados e publique a vaga</p>
	<% else %>
		<p class="anunciar">Preencha os dados e publique a vaga</p>
	<% end %>
<% else %>
	<% if notice %>
		<p class="anunciar"><span class="error"><%= notice %></span></p>
	<% end %>
	<div id="login_cadastro" class="round">
	
		<div id="login">
			<p class="titulo">faça o login, se já possui cadastro</p>
			<%= render :partial=>'sessions/login'%>		
		</div>
	
		<div id="cadastro">
			<p class="titulo">Caso não possua cadastro, preencha o formulario abaixo, é rapido e simples</p>
			<%= render :partial=>'empresas/form'%>
		</div>
	</div>
<% end %>

<div id="formulario">
	<%= render 'form' %>
</div>

<%= link_to 'Back', vagas_path %>

