<div id="conteudo"> 
	<!-- VAGA -->
	<div id="visualizar_vaga" class="even">
		<p class="titulo_vaga">
			<%= @vaga.vaga %>
		<span class="data"><%= @vaga.created_at.to_date.to_formatted_s(:long) %></span>
		</p>
		<p>
			<b>Empresa:</b> <a href=""><%= @vaga.empresa.nome_empresa %></a>
		</p>
		<p>
			<b>Faixa Salarial:</b> <%= @vaga.salario_min %> - <%= @vaga.salario_max %>
		</p>
		<p>
			<b>Cidade:</b> <%= @vaga.cidade %>
		</p>
		<p>
			<b>Vaga para:</b> <%= @vaga.perfil.nome %>
		</p>
		<p>
			<b>Descrição:</b> <%= @vaga.descricao %>
		</p>
		<p><b>Pre-requisitos:</b> <%= @vaga.pre_requisitos %></p>
		<p>
			<b>Palavras chave:</b>
				<% @vaga.tags.each do |t| %>
					<%= link_to t.nome, t , :class=>'tags' %>
				<% end %>
		</p>

   <p class="candidatar">
		<%= link_to 'Candidatar-se', '', :class=>"candidatar_se" %> 
		<%= link_to 'Voltar', vagas_path, :class=>"voltar" %>
	</p>

</div>
</div>
<div id="lateral">
	<%= render :partial=>"vagas/lateral" %>
</div>
