<div id="conteudo"> 

	<h1 class="vagas_recentes">Vagas Cadastradas <%= @empresa.vagas.size %></h1>
	<!-- VAGAS -->
	<p class="paginacao">
		<%= paginate @vagas %>
	</p>
	<% @vagas.each do |vaga| %>
		<%= render :partial=>'vaga', :locals=>{:vaga=>vaga} %>
	<% end %>
	<!-- FIMMMM VAGAS -->
	<p class="paginacao">
		<%= paginate @vagas %>
	</p>

</div>
<div id="lateral">
	<%= render :partial=>'empresas/lateral' %>
</div>
<div id="clear">
</div>
